@use "../../styles/global.scss";

.sign-up {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__list-container {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: 30vw;
        padding-left: 0;
    }

    &__prof-img-btn {
        justify-self: center;
    }
}