.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav {
  list-style-type: none;
  width: 100vw;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}


.nav__btn {
  text-decoration: none;
  justify-content: center;
  color: inherit;
  border: 1px solid black;
  padding: 1% 10vw;
  flex-grow: 1;
}



.header-top {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-nav {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}